body{
    background-color: #111;
    font-family: 'Open Sans', sans-serif;
}

body, html, div{
    margin: 0;
    padding: 0;
}

h1{
    font-weight: 300;
    font-size: 1.9em;
    padding-left: 1em;
}

h2{
    font-family: 'Playfair Display', serif;
    padding-left: 1em;
    color: #4F5B66;
}

td{
    padding: 0 0.5em;
}

.icon-stack{
    font-size: 1em;
}

.bordered{
    padding: 0.5em;
    border-radius: 0.25em;
    color: #ccc;
    text-align: right;
    font-size: 2em;
    font-weight: 300;
}

.top-icon{
    vertical-align: bottom;
    font-size: 1.6em;
}

.cog-icon{
    color: #eee;
    font-size: 0.9em;
    vertical-align: bottom;
    top: 8px;
}

.no-bullets{
    list-style: none;
}

.bordered .cog-icon{
    color: #555;
    font-size: 0.9em;
    vertical-align: bottom;
    top: 20px;
    left: 2px;
}

.shadow{
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.shadow-inverted{
    text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.25);
}

.page-width{
    width: 800px;
    margin: 0 auto;
}

.pre-top-bar{
    min-height: 3em;
    background-color: #fafafa;
}

.top-bar{
    border-top: 2px solid #7FB6E6;
    background-color: #70A1CC;
    padding: 0.5em;
}

.top-bar a{
    color: #555;
}

.document{
    min-height: 500px;
    background-color: #dadada;
    padding: 0.75em 0 2em;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5) inset;
}

.pad-right{
    padding: 0 2em 0 0;
}

.footer{
    margin: 0 auto 2em;
    color: #ccc;
    font-size: 0.8em;
    padding: 0.5em;
    border-top: 2px solid #333;
}

.left{
    float: left;
}

.p50{
    width: 50%;
}

.s140{
    width: 140px;
}

.650{
    width: 650px;
}

.right{
    float: right;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}

.clear{
    clear: both;
}